@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Anton&family=Grand+Hotel&family=Oswald:wght@300&family=Lato&family=Oswald:wght@600&family=Poppins:wght@500&family=Roboto+Condensed:wght@400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* navbar start */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(197, 187, 153);
    padding: 20px 0;
}

.navbar img {
    width: 70px;
    height: 70px;
}

.list {
    display: flex;
    list-style: none;
    gap: 50px;
}

.icon {
    display: flex;
    gap: 50px;
}

/* navbar end */

/* hero section start */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 187, 153);
    height: 500px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
}

.content .txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-family: 'Anton', sans-serif;
    color: #ce6c42;
}

.content img {
    width: 165px;
    transform: rotate(345deg);
    filter: drop-shadow(5mm 10mm 25mm rgb(0, 0, 0));
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
    font-size: 2rem;
}

.txthead {
    font-size: 5.5rem;
    font-family: 'Grand Hotel', cursive;
    color: #1c2b4e;
}

.txtdetail {
    text-align: end;
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
}

.detail button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.15rem;
}

/* hero section end */

/* card start */

.card{
    height: 700px;
}

.cardsection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 550px;
}

.card1 img{
    width: 200px;
}

/* card end */



/*  */

.b{
    display: flex;
    gap: 20px;
}

.c{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cd{
    width: 300px;
    height: 100px;
    background: #000;
    border-radius: 10px;
}

.ce{
    width: 300px;
    height: 100px;
    background: #ff0000;
    border-radius: 10px;
}

.d{
    width: 200px;
    height: 220px;
    background: #000;
    border-radius: 10px;
}

.e{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ef{
    width: 300px;
    height: 100px;
    background: #000;
    border-radius: 10px;
}

.eg{
    width: 300px;
    height: 100px;
    background: #c22626;
    border-radius: 10px;
}



/*  */