@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lato&family=Oswald:wght@600&family=Poppins:wght@500&family=Roboto+Condensed:wght@400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*  */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.list {
    display: flex;
    list-style: none;
    gap: 50px;
}

.icon {
    display: flex;
    gap: 50px;
}

/*  */