@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Anton&family=Bebas+Neue&family=Grand+Hotel&family=Oswald:wght@300&family=Dancing+Script:wght@700&family=Lato&family=Oswald:wght@600&family=DM+Serif+Display&family=Mooli&family=Playfair+Display:wght@500&family=Croissant+One&family=Poppins:wght@500&family=Red+Hat+Display:wght@900&family=Roboto+Condensed:wght@400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* navbar start */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 345px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(197, 187, 153);
    padding: 20px 0;
}

.navbar img {
    width: 70px;
    height: 70px;
}

.list {
    display: flex;
    list-style: none;
    gap: 50px;
}

.list li {
    cursor: pointer;
    transition: .3s;
}

.list li:hover {
    color: #ce6c42;
    transform: scale(1.25);
    transition: .3s;
}

.icon {
    display: flex;
    gap: 50px;
}

.icon i {
    cursor: pointer;
    transition: .3s;
}

.icon i:hover {
    transform: scale(1.25);
    transition: .3s;
}

/* navbar end */

/* hero section start */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 187, 153);
    height: 500px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
}

.content .txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-family: 'Anton', sans-serif;
    color: #ce6c42;
}

.content img {
    width: 165px;
    transform: rotate(345deg);
    filter: drop-shadow(5mm 10mm 25mm rgb(0, 0, 0));
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
    font-size: 2rem;
}

.txthead {
    font-size: 5.5rem;
    font-family: 'Grand Hotel', cursive;
    color: #1c2b4e;
}

.txtdetail {
    text-align: end;
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
}

.detail button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: .5s;
}

.detail button:hover {
    background-color: #ce6c42;
    color: white;
    transition: .5s;
}

/* hero section end */

/* card start */

.card {
    height: 700px;
    background: rgb(197, 20, 47);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 0 0;
}

.cardhead {
    font-size: 2.5rem;
    font-family: 'Mooli', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.cardsection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 550px;
    gap: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.card1:hover {
    transform: scale(1.05);
}

.card1 img {
    width: 180px;
    filter: drop-shadow(5mm 10mm 25mm rgb(0, 0, 0));
}

.cardtxt h3 {
    font-size: 1.25rem;
    font-family: 'Croissant One', cursive;
    color: rgb(255 255 255 / 60%);
}

.cardtxt p {
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.card1 button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: .5s;
}

.card1 button:hover {
    background-color: rgba(0, 0, 0, 0.50);
    color: rgb(255, 255, 255);
    transition: .5s;
}

/* card end */

/* box start */

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 338px;
    gap: 20px;
}

.box img {
    width: 294px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.box img:hover {
    transform: scale(1.13);
    transition: .3s;
}

/* box end */

/* 2nd box start */

.newbox {
    height: 400px;
    background-color: #1d2b4f;
}

.newbox .box2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textbox h3 {
    font-size: 4.5rem;
    font-family: 'Red Hat Display', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
}

.textbox button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: .3s;
}

.textbox button:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transition: .3s;
}

.textbox p {
    font-size: 2.5rem;
    color: aliceblue;
    font-family: 'DM Serif Display', serif;
}

.imgbox {
    width: 376px;
    height: 454px;
}

.imgbox .img1 {
    transform: rotate(15deg);
    margin: 0 0 75px 0;
    filter: drop-shadow(-2mm -2mm 25mm rgb(0, 0, 0));
}

.imgbox .img2 {
    transform: rotate(345deg);
    margin: 180px 0 0 0;
    filter: drop-shadow(-1mm 1mm 30mm rgb(0, 0, 0));
}

/* 2nd box end */

/* footer start */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 245px;
    position: relative;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.footericon {
    display: flex;
    gap: 30px;
}

.footericon div .fa-brands {
    font-size: 2rem;
}

.footericon div .fa-solid {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.footericon div .fa-brands {
    font-size: 2rem;
}

.footertxt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footertxt .fa-solid {
    font-size: 1.25rem;
}

style attribute {
    font-size: 1.25rem;
    color: #ff0000;
}

a {
    text-decoration: none;
    color: black;
}

/* footer end */